@FONT-SIZE-MINI: 12px;
@FONT-SIZE-NORMAL: 14px;
@FONT-SIZE-BIGGER: 16px;
@FONT-SIZE-LARGE: 18px;

@FONT-COLOR-ULTRA-LIGHT: #ececec;
@FONT-COLOR-LIGHT: grey;
@FONT-COLOR-HEAVY: #2c3e50;
@FONT-COLOR-OVERWEIGHT: #000;